@media (min-width: 768px) {
.faq-container{
    position: relative;
    height: 270px;
}
}
.accordion-button {
    font-weight: bold;
    outline: none; /* Removes default focus outline */
    box-shadow: none !important; /* Removes the blue shadow */
    border: none !important; /* Removes border */
    background-color: transparent; /* Optional: Set transparent background */
}

.accordion-button:not(.collapsed) {
    color: #000;
    background-color: transparent;
    box-shadow: none !important;
}

.accordion-button:focus {
    box-shadow: none !important; /* Ensures no focus shadow appears */
    outline: none !important;
}
