@media (max-width: 768px) {
    .carousel {
        position: relative;
        top: 12px;
        width: 100%; /* Ensure the carousel spans the full width */
    }
    .carousel-item {
        height: 400px; /* Set height for mobile view */
    }
    .carousel-item video {
        width: 100vw; /* Ensure the video spans the full viewport width */
        height: 100%; /* Ensure the video spans the container height */
        object-fit: cover; /* Fill the entire container */
        object-position: center; /* Center the video */
    }
}

@media (min-width: 768px) {
    .carousel {
        position: relative;
        bottom: 17px; /* Adjust positioning if needed */
        width: 100%; /* Ensure the carousel spans the full width */
    }
    .carousel-item {
        height: 475px; /* Set fixed height for desktop view */
    }
    .carousel-item video {
        width: 100vw; /* Ensure the video spans the full viewport width */
        height: 475px; /* Set fixed height */
        object-fit: cover; /* Fill the entire container */
        object-position: center; /* Center the video */
    }
}
