
<body>
    <div class="container py-5">
        <!-- Heading and Subheading -->
        <div class="text-center mb-4">
            <h2 class="section-heading">Celebrate in Style</h2>
            <p class="section-subheading">Stunning party decorations for every occasion</p>
        </div>

        <!-- Categories Section -->
        <div class="row g-4 categories-section">
            <!-- Birthday -->
            <div class="col-6 col-lg-3">
                <div class="category-box text-center">
                    <img src="assets/images/birthdays.jpg" alt="Birthdays" class="img-fluid category-img birthday-img">
                    <span class="category-title">Birthdays</span>
                </div>
            </div>
            <!-- Festivals -->
            <div class="col-6 col-lg-3">
                <div class="category-box text-center">
                    <img src="assets/images/festival.jpg" alt="Festivals" class="img-fluid category-img">
                    <span class="category-title">Festivals</span>
                </div>
            </div>
            <!-- Anniversary -->
            <div class="col-6 col-lg-3">
                <div class="category-box text-center">
                    <img src="assets/images/anniversary.jpg" alt="Anniversaries" class="img-fluid category-img">
                    <span class="category-title">Anniversaries</span>
                </div>
            </div>
            <!-- Surprise Party -->
            <div class="col-6 col-lg-3">
                <div class="category-box text-center">
                    <img src="assets/images/surprise.jpg" alt="Surprise Party" class="img-fluid category-img surprise-img">
                    <span class="category-title">Surprise Party</span>
                </div>
            </div>
        </div>
        
    </div>
    <div class="package-image">
        <img src="assets/images/package.png">
    </div>
  

</body>
