<body>
    <div class="container-fluid">
        <div class="row" style="height: 420px;">
            <!-- Left Column -->
            <div class="col-md-6 left-column">
                <img src="assets\images\gallery.png" alt="Left Image" class="img-fluid">
                <button class="vs-button">Visit
                    Gallery
                </button>
            </div>

            <!-- Right Column -->
            <div class="col-md-6 right-column">
                <!-- First Row -->
                <div class="row">
                    <div class="col-4" style="padding: 0;">
                        <img src="assets\images\g1.jpg" alt="Image 1" class="img-fluid">
                    </div>
                    <div class="col-4" style="padding: 0;">
                        <img src="assets\images\g2.jpg" alt="Image 2" class="img-fluid">
                    </div>
                    <div class="col-4" style="padding: 0;">
                        <img src="assets\images\g3.jpg" alt="Image 3" class="img-fluid">
                    </div>
                </div>
                <!-- Second Row -->
                <div class="row">
                    <div class="col-4" style="padding: 0;">
                        <img src="assets\images\g4.jpg" alt="Image 4" class="img-fluid">
                    </div>
                    <div class="col-4" style="padding: 0;">
                        <img src="assets\images\g5.jpg" alt="Image 5" class="img-fluid">
                    </div>
                    <div class="col-4" style="padding: 0;">
                        <img src="assets\images\g6.jpg" alt="Image 6" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
 </body>